<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Curso Angular Fundamentals</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">

    <!-- inject:css -->
    <!-- endinject -->
    <link rel="stylesheet" href="css/myapp.css">
    <style>
      .old {background: red;} /* 1995 < */
      .modern {background: green;} /*  1995 > && < 2000 */
      .new {background: blue;} /* > 2000 */
    </style>
  </head>

  <body class="app">

    <h1>ng-class</h1>

    <div ng-controller="MoviesController as movies">
      <ul>
        <!-- ng-class="movie.year < 1995 ? 'old' : 'modern'" -->
        <li
          ng-class="{
            old: movie.year < 1995,
            modern: movie.year > 1995 && movie.year < 2000,
            new: movie.year > 2000
          }"
          ng-repeat="movie in movies.favorites">
          <p>{{ movie.title }} <span>{{ $index }}</span></p>
          <p>Estreno: {{ movie.year }}</p>
          <p ng-if="!movie.popular"> Esta peli es muy popular.</p>
          <p ng-if="movie.year < '2000'">
            Esta peli ya es bastante vieja.
          </p>
          <p ng-if="movie.year > '2000'">
            Esta peli es nueva.
          </p>
          <div ng-switch="movie.category">
            <div ng-switch-when="ciencia ficción">
              Peli de CIENCIA FICCIÓN
            </div>
            <div ng-switch-when="acción">
              Peli de ACCIÓN
            </div>
            <div ng-switch-when="mafia">
              Peli de SUSPENSE
            </div>
            <div ng-switch-default>
              Peli sin categoría
            </div>
          </div>
        </li>
      </ul>
    </div>


    <!-- inject:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="app/app.js"></script>
    <script src="app/MoviesController.js"></script>
    <!-- endinject -->
  </body>
</html>
